<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  >
	  
<div layout:fragment="content">

	<h1>Join page</h1>
	
	<button id="popModal">pop!</button>
	<div id="modal">
		<p>modal hi!</p>
	</div>
</div>

<script type="text/javascript" layout:fragment="customScript">
	$("#popModal").on("click", function(){
		$("#modal").dialog("open");
	});
	
	$("#modal").dialog({
		autoOpen: false,
		modal: true,
		width: '150',
		height: '200',
		buttons: [
			{
				text: "OK",
				click: function() {
					$(this).dialog("close");
				}
			}
		]
	});
</script>
</html>