<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  >
	  
<div layout:fragment="content">

	<h1>Join page</h1>

	<h1>회원가입</h1>
	<form action="/member/join" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		
		<input type="text" name="username" autofocus="autofocus" /><br />
		<input type="password" name="password" /><br />
		<button type="submit">가입하기</button>
	</form>
</div>
</html>